<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завантажте файл</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #333;
            margin: 20px 0;
        }
        fieldset {
            text-align: left;
            width: 85%;
            margin: 15px auto;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        label {
            margin-bottom: 10px;
            font-weight: bold;
            color: #555;
        }
        input[type="text"],
        input[type="number"],
        input[type="file"],
        textarea,
        select {
            min-width: 30%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            box-sizing: border-box;
        }
        input[type="submit"], #download_button {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: 20px;
            cursor: pointer;
        }
        #download_button {
            background-color: green;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        form {
            text-align: center;
        }
        .error-message, .success-message {
            width: 85%;
            margin: auto;
            color: red;
            font-weight: bold;
            margin-top: 10px;
        }
        .success-message {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Аналіз набору даних</h1>

    <div id="data_field" class="success-message" hidden></div>

    <div id="error_field" class="error-message" hidden></div>

    <form id="upload_form" enctype="multipart/form-data" data-next_form="preprocess_form">
        <fieldset>
            <label>
                <input type="file" name="file">
                Файл в форматі CSV, XLS/XLSX, JSON або DB (SQLite)
            </label>

            <div>
                <label>
                    <input type="text" name="sep">
                    Роздільник значень, якщо відмінний від коми (для CSV файлів)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="thousands">
                    Роздільник тисяч, якщо є (для CSV або EXCEL файлів)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="decimal">
                    Символ десяткової крапки, якщо відмінний від крапки (для CSV або EXCEL файлів)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="sheet_name">
                    Назва листа, якщо не перший з доступних (для EXCEL файлів)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="table_name">
                    Назва таблиці в БД (для DB файлів)
                </label>
            </div>
        </fieldset>

        <input type="submit" value="Надіслати файл з даними">
    </form>

    <form id="preprocess_form" data-next_form="recommendations_form" hidden>
        <fieldset>
            <div>
                <label>
                    <input type="checkbox" name="make_copy" value="yes">
                    Зберегти як новий набір даних
                </label>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="text" name="case_insensitive_columns" placeholder='column OR ["column1", "column2"]'>
                    Вкажіть стовпець або список стовпців, що потребують приведення тексту до нижнього регістру (JSON)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="clear_punct_columns" placeholder='column OR ["column1", "column2"]'>
                    Вкажіть стовпець або список стовпців, що потребують очищення тексту від пунктуації (JSON)
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="clear_digits_columns" placeholder='column OR ["column1", "column2"]'>
                    Вкажіть стовпець або список стовпців, що потребують очищення тексту від цифр (JSON)
                </label>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="number" name="row_range_start">
                    Вкажіть номер рядка, від якого вибрати дані
                </label>
            </div>

            <div>
                <label>
                    <input type="number" name="row_range_end">
                    Вкажіть номер рядка, до якого вибрати дані
                </label>
            </div>

            <div>
                <label>
                    <input type="number" name="row_range_step">
                    Вкажіть крок, з яким вибрати рядки даних
                </label>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="text" name="index_col">
                    Вкажіть назву стовпця, який містить індекс:
                </label>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <textarea name="fill_na_values" rows="5" placeholder='value OR {"column_name1": "value1", "column_name2": "value2"}'></textarea>
                    Вкажіть словник або значення для заповнення пропущених значень (формат JSON):
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="allow_type_conversion" value="yes">
                    Дозволити перетворення типів
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="ffill" value="yes">
                    Заповнити пропущені значення попереднім дійсним значенням стовпця
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="bfill" value="yes">
                    Заповнити пропущені значення наступним дійсним значенням стовпця
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="drop_na" value="" checked>
                    Не видаляти пропущених даних
                </label>

                <label>
                    <input type="radio" name="drop_na" value="rows">
                    Видалити рядки з пропущеними даними
                </label>

                <label>
                    <input type="radio" name="drop_na" value="columns">
                    Видалити стовпці з пропущеними даними
                </label><br>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="checkbox" name="drop_outliers" value="yes">
                    Видалити рядки з викидами (аномальними даними) у числових стовпцях
                </label>
            </div>

            <div>
                <label>
                    <input type="number" name="outliers_threshold" step="0.01">
                    Вкажіть поріг для визначення викидів у числових стовпцях
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="drop_duplicates" value="" checked>
                    Не видаляти рядки-дублікати
                </label>

                <label>
                    <input type="radio" name="drop_duplicates" value="keep_first">
                    Видалити рядки-дублікати та залишити перший з них
                </label>

                <label>
                    <input type="radio" name="drop_duplicates" value="with_original">
                    Видалити всі рядки-дублікати
                </label><br>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="text" name="datetime_columns" placeholder='column OR ["column1", "column2"]'>
                    Вкажіть стовпець або список стовпців, що потребують приведення даних до datetime формату (JSON):
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="category_columns" placeholder='column OR ["column1", "column2"]'>
                    Вкажіть стовпець або список стовпців, що потребують приведення даних до категоріального формату (JSON):
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="join_small_cat" value="yes">
                    Об'єднати малі категорії даних
                </label>
            </div>

            <div>
                <label>
                    <input type="text" name="joined_category_name">
                    Вкажіть назву категорії, утвореної шляхом об'єднання малих категорій даних
                </label>
            </div>

            <div>
                <label>
                    <input type="number" name="categories_threshold" step="0.01">
                    Вкажіть максимальну відносну частоту, при якій категорія вважається малою
                </label>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>
                    <input type="checkbox" name="scale_numeric" value="yes">
                    Масштабувати числові значення
                </label>
            </div>

            <label>
                <select name="scaling_method">
                    <option value="">--Виберіть значення зі списку доступних--</option>
                    <option value="max_abs_scaling">Масштабування за максимальним абсолютним значенням</option>
                    <option value="min_max_scaling">Масштабування в діапазоні мінімум-максимум</option>
                    <option value="z_score">Масштабування за z-оцінкою (стандартизація)</option>
                </select>
                Оберіть метод масштабування
            </label>
        </fieldset>

        <input type="submit" value="Виконати попередню обробку">
    </form>

    <form id="recommendations_form" hidden>
        <fieldset>
            <label>
                <select name="analysis_task">
                    <option value="">--Виберіть значення зі списку доступних--</option>
                    <option value="association">Асоціація</option>
                    <option value="regression">Регресія</option>
                    <option value="classification">Класифікація</option>
                    <option value="clusterization">Кластеризація</option>
                </select>
                Оберіть задачу машинного навчання
            </label>

            <div>
                <label>
                    <input type="text" list="columns" name="target_col" autocomplete="off">
                    <datalist id="columns"></datalist>
                    Вкажіть назву цільового стовпця (можна обрати з випадаючого списку):
                </label>
            </div>
        </fieldset>

        <input type="submit" value="Отримати рекомендації">
        <a id="download_button" target="_blank">Завантажити набір даних</a>
    </form>

    <form id="info_form" data-next_form="preprocess_form">
        <fieldset>
            <label>
                <input type="text" name="dataset_id">
                Тут можна вказати ID завантаженого раніше датасету (+ ENTER)
            </label>
        </fieldset>
    </form>

    <script>
        let nextFormAction = "{{ url_for('upload_file') }}";
        const errorDiv = document.getElementById("error_field");
        const dataDiv = document.getElementById("data_field");

        document.addEventListener("submit", function(event) {
            const form = event.target;
            if (!form.matches("form")) return;

            if (!form.dataset.next_form) return;

            event.preventDefault();

            let formData = new FormData(form);

            ((form.id === "info_form")
                ? fetch(`{{ url_for('get_info', dataset_id="") }}${document.querySelector('input[name="dataset_id"]').value}`, {})
                : fetch(nextFormAction, {
                    method: "POST",
                    body: formData
                }))
            .then(response => response.json())
            .then(data => {
                errorDiv.hidden = !data.error;
                dataDiv.hidden = Boolean(data.error);
                if (data.error) {
                    errorDiv.textContent = data.error_description || "Сталася невідома помилка.";
                    errorDiv.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
                } else {
                    dataDiv.textContent = JSON.stringify(data);
                    for (let form_ of document.getElementsByTagName("form")) {
                        form_.hidden = !(form_.id === form.dataset.next_form | form_.id === "info_form")
                    }
                    document.getElementById("columns").innerHTML = "";
                    for (let col of Object.keys(data.metadata.columns)) {
                        document.getElementById("columns").innerHTML += `<option value="${col}" />`;
                    }
                    nextFormAction = data.next_step;
                    document.getElementById("download_button").href = `{{ url_for('download_dataset', dataset_id="") }}${data.dataset_id}`;
                    document.getElementById("recommendations_form").action = `{{ url_for('get_recommendations', dataset_id="") }}${data.dataset_id}`;
                }
            })
            .catch(error => console.error("Помилка запиту:", error));
        });
    </script>
</body>
</html>